// fonts
$poppins: 'Poppins', sans-serif;

//colors
$yellow: #FCE513;
$blue: #5780EB;
$red: #E24A4A;
$darkGray: #272930;

// breakpoints 

$breakpoints: (
  tablet: 500px,
  smallScreen: 768px,
  largeScreen: 1024px,
  extraLargeScreen: 1200px,
);

@mixin breakpoint($size) {
  $breakpoint-value: map-get($breakpoints, $size);

  @media screen and (min-width: $breakpoint-value) {
    @content;
  }
}